$handle-color: #6a6a6a;

$knob-base-color: black;
$knob-base-gradient: linear-gradient(#c5c5c5, #{$handle-color});

$knob-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
$knob-color: red;

.Joystick {
    height: 100%;
    width: 100%;
    background: $knob-base-gradient;

    .knobBase {
        background: $knob-base-color;
        border-radius: 50%;
    }

    .draggableElement, .knobBase {
        position: absolute;
    }

    .draggableElement {
        border-radius: 50%;
        background-color: $knob-color;
        box-shadow: $knob-box-shadow;

        // Force override default Fab styles
        cursor: grab;
        &:active {
            cursor: grabbing;
        }
    }
}
