.Joystick {
    height: 100%;
    width: 100%;
    background: linear-gradient(#c5c5c5, #6a6a6a);

    .handleBase {
        $base-size: 100px;
        background: black;
        height: $base-size;
        width: $base-size;
        border-radius: 50%;
    }

    .draggableElement, .handleBase {
        position: absolute;
    }

    .handle {
        // Force override default Fab styles
        cursor: grab !important;
        &:active {
            cursor: grabbing !important;
        }
    }
}
