$knob-base-color: black;
$handle-color: red;
$handle-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

.Joystick {
    &, .knobBase {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    &.disabled .handle {
        &, &:active {
            cursor: not-allowed;
        }
    }

    .knobBase {
        background: $knob-base-color;
        border-radius: 50%;
    }

    .handle {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 50%;
        background-color: $handle-color;
        box-shadow: $handle-box-shadow;

        cursor: grab;
        &:active {
            cursor: grabbing;
        }
    }
}
