$base-color: #c5c5c5;
$knob-base-color: black;
$handle-color: red;
$handle-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
$handle-diameter: 150px;

.Joystick {
    background: $base-color;

    &, .knobBase {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .knobBase {
        background: $knob-base-color;
        border-radius: 50%;
    }

    .handle {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 50%;
        background-color: $handle-color;
        box-shadow: $handle-box-shadow;
        height: $handle-diameter;
        width: $handle-diameter;

        cursor: grab;
        &:active {
            cursor: grabbing;
        }
    }
}
