.Stick {

    // Force override default Fab styles
    cursor: grab !important;
    &:active {
        cursor: grabbing !important;
    }

    // Account for Emoji text-alignment
    .emoji {
        padding-left: 5px;
    }
}
